<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-text">Catalog Web Application</li>
			</ul>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li><button type="button" class="button success">{{ 'Login' }}</button></li>
			</ul>
		</div>
	</nav>
	<main class="main-display">
		<aside class="main-side-bar">
			<h4 class="column-title">Catagories</h4>
			<ul class="vertical menu">
				{% for item in catagory %}
				<li>
					<a href="{{'/catalog/items/' + item.name}}">
						{{item.name}}
					</a>
				</li>
				{% endfor %}
			</ul>
		</aside>
		<section class="main-content">
			<h4 class="column-title">{{itemTitle}}</h4>
			<ul class="vertical menu">
				{% for item in itemShow %}
				<li>
					<a class="itemInList" href="{{'/item/' + item.id|string}}">
						{{item.name}}
					</a>
					{% if home %}
					<span class="catagoryInList">
						({{item.catagory.name}})
					</span>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</section>
	</main>


	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/doubleColumnCommon.css') }}">
	<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
</body>
</html>