<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-text">Catalog Web Application</li>
			</ul>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				{% if login %}
					<li><a class="button success" href="{{url_for('newItem')}}">{{ 'New Items' }}</a></li>
					<li><a class="button success" href="{{url_for('newCatagory')}}">{{ 'New Catagory' }}</a></li>
					<li><a class="button success" href="{{url_for('fbdisconnect')}}">{{ 'Logout' }}</a></li>
				{% else %}
					<li><a class="button success" href="{{url_for('login')}}">{{ 'Login' }}</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<main class="main-display">
		<div class="main-content">
			<div class="item-container">
				<h4 class="item-name">{{item.name}}</h4>
				<section class="item-detail">
					Catagory: {{item.catagory.name}}
				</section>
				<section class="item-detail">
					Date Created: {{item.date}}
				</section>
				<section class="item-detail">
					Description: <br> 
					{{item.description}}
				</section>
			</div>
			{% if login %}
				{% if item.user_id == user_id %}
					<div class="operation-container">
						<a href="{{url_for('editItem', item_id=id)}}">Edit</a>
						<a href="{{url_for('deleteItem', item_id=id)}}">Delete</a>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</main>


	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/singleColumnCommon.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/viewItem.css') }}">
	<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
</body>
</html>